body{font-family:Arial;background:#f4f4f4;padding:20px}
h1{text-align:center}
form{margin-bottom:20px;text-align:center}
input,button{padding:8px;margin:5px}
table{width:100%;border-collapse:collapse;background:white}
th,td{border:1px solid #ccc;padding:8px;text-align:center}
button{background:#2563eb;color:white;border:none}
